
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

h1 {
  padding: 15px 0px;
}

/**
*
* Import for the project
*/

// Header
@import './header/menu';

// Projectors
@import './projectors/index';

// Home
@import './home/home';

/**
* Admin 
*/

