#projectors-index {
    h1 {
        font-size: 52px;
    }

    .proses {

        margin-bottom: 80px;

        h2 {
            padding: 15px 0px;
            font-size: 42px;
        }
        p {
            margin-bottom: 5px;
            font-size: 29px;
        }
    }
}